{% load bootstrap3 %}

<form action="" method="post">{% csrf_token %}
  {% bootstrap_form form %}
  <button type = "submit" class="btn btn-primary sign-btn signin-btn"> {% bootstrap_icon "heart" %} Sign Up</button>
</form>
