{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Testing webapp for WEK">
    <meta name="author" content="LeutrimOsmani">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="min-height:600px;">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top {% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#000;" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" height="100%" class="logo-img" alt="Logo"> Leutrim Osmani</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block navbar_left %}
            {% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar_right %}
              {% if request.user.is_authenticated %}
                <li>
                  <a href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="divider-vertical">
                </li>
                <li><a href="{% url 'home' %}" class="nav-user-name">
                  {% if request.user.first_name or request.user.last_name %}
                      {{ request.user.first_name }} {{ request.user.last_name }}
                  {% else %}
                      {{ request.user.username }}
                  {% endif %}
                  {% if request.user.is_superuser %} (SuperUser) {% else %} (BasicUser) {% endif %}
                </a></li>
              {% else %}
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
              {% endif %}
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {% bootstrap_messages %}
      {% block content %}
      {% endblock %}
    </div> <!-- /container -->
    <div></div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/javaScript.js' %}"></script>
  </body>
</html>
