{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="sign-out-wrapper">
	<h1 class="signout-title">{% trans "Sign Out" %}</h1>

	<p class="signout-p">{% trans 'Are you sure you want to sign out?' %}</p>

	<form method="post" action="{% url 'account_logout' %}">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	  {% endif %}
	  <button class="btn btn-primary sign-btn" type="submit">{% trans 'Sign Out' %}</button>
	</form>
</div>


{% endblock %}
