{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit" name="action">{% trans 'Set Password' %}</button>
    </form>
{% endblock %}
