{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4">
		<h1>{% trans "Change Password" %}</h1>
	    <p>{% trans 'Your password is now changed.' %}</p>
	    <a href="{% url 'account_login' %}" class="btn btn-primary sign-btn login-btn">Login here &raquo;</a>
	</div>
</div>
{% endblock %}
