@media (max-width: 768px) {
  body > div > div.jumbotron {
  	padding: 0px 10px;
  }
}

.note-message {
	color:#f00;
	font-weight: 600;
	font-size: 15px;
}

.custom-delete{
	display: inline !important;
	background-color: inherit;
	padding: 0px;
	border: none;
	outline: 0 !important;
	box-shadow: none !important;
}

.btn.disabled, .btn[disabled] {
	cursor: default;
}

.p4 {
	margin-bottom: 0px !important;
}
.dd4 {
	padding-left: 15px;
	color: #f00;
}
.username-print {
	text-transform: uppercase;
	color: #555;
}
.link-class {
	text-decoration: none !important;
}
.logo-img {
	display: inline-block !important;
}

.table-head {
	font-size: 17px;
	font-weight: 700;
}

.nav-user-name {
	text-transform: capitalize;
}

.sign-out-wrapper {
	width: 300px;
	margin: 0px auto;
	text-align: center;
}

.sign-btn {
	border-radius: 0px !important;
	background-image: none !important;
	padding: 10px 15px !important;
	font-size: 17px !important;
	background-color: #094a85 !important;
	box-shadow: none !important;
	text-shadow:none !important;
	border: 1px solid #094a85;
	font-weight: 500;
}

.sign-btn:hover, .sign-btn:focus {
	border: 1px #094a85 solid !important;
	background-color: #fff !important;
	color: #094a85;
}
.signout-title {
	font-size: 48px;
	color: #333;
}
.signout-p {
	font-size: 16px;
	color: #c5324a;
	font-weight: 600;
}

.signin-btn {
	padding: 7px 10px !important;
	font-size: 14px !important;
	font-weight: 500;
	margin: 0px auto;
	display: block;
}
.login-btn.sign-btn {
	padding: 4px 8px !important;
}
.btn-row-login {
	text-align: center;
}
label[for="id_remember"] {
	display: none;
}

.socialaccount_providers {
	list-style-type: none;
	text-align: center;
	padding: 0px;
}
.socialaccount_providers li {
	display: block;
	margin: 0px auto;
	width: 200px;
	height: 40px !important;
	margin-bottom: 15px;
}
.socialaccount_providers li a {
	display: block;
	width: 100%;
	padding: 10px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
}
.login-or {
	text-align: center;
	text-transform: capitalize;
	margin-top: 0px;
}

.socialaccount_provider.facebook{
	background-color: #3b5998;
	border:1px #3b5998 solid;
}
.socialaccount_provider.google{
	background-color: #dd4b39;
	border:1px #dd4b39 solid;
}
.socialaccount_provider.twitter{
	background-color: #00aced;
	border:1px #00aced solid;
}
.socialaccount_provider.facebook:hover{
	color: #3b5998;
}
.socialaccount_provider.twitter:hover{
	color: #00aced;
}
.socialaccount_provider.google:hover{
	color: #dd4b39;
}
.socialaccount_provider.facebook:hover, .socialaccount_provider.google:hover , .socialaccount_provider.twitter:hover,
.sign-btn:hover{
	background-color: #fff;
	-webkit-transition: background-color linear 0.3s;
    -moz-transition: background-color linear 0.3s;
    -o-transition: background-color linear 0.3s;
    transition: background-color linear 0.3s;
}
.btn-sup {
	padding: 4px 8px !important;
	display: block;
	margin: 0px auto;
}
.col-md-offset-1 {
	padding: 0px;
}

.res-pw-btn {
	padding: 4px 8px !important;
	display: block;
	margin:0px auto;
	margin-bottom: 10px;
}
.pw-res-info {
	text-align: center;
}
.conf-btn {
	padding: 4px 8px !important;
	display: block;
	margin:0px auto;
}
.username-conf {
	color: #000;
	font-weight: 700;
	text-transform: capitalize;
}

.platform_holder label {
	margin-left: 5px;
}

.main-row .alert.alert-success.alert-dismissable{
	display: none;
}